* {
    margin: 0;
    padding: 0;
}

#wealth-creation {
    margin: 0;
    padding: 0;
}


#wealth-creation hr.line {
    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%
}
#wealth-creation .wealth-creation{
    height:100vh;width:100vw;display:grid;place-items:center
}
#wealth-creation .calculator-area {
    padding: 40px 60px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
}
#wealth-creation .name-input {
    background-color: #FDF5E1;
    padding: 80px 30px;
}

#wealth-creation ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

#wealth-creation ol li {
    counter-increment: my-awesome-counter;
}

#wealth-creation ol li::before {
    content: counter(my-awesome-counter) ") ";
}

#wealth-creation .calculator-area-input input[type=text]{
    border-radius: 40px;
    padding: 10px 15px;
    box-shadow: none;
    border:1px solid #fff;
}
#wealth-creation .calculator-area-input input[type=text]:hover{
    
    border: 1px solid #B02A30;
}
#wealth-creation .calculator-area-input button{
    border-radius: 50px;
    background-color: #B02A30;
    border: 1px solid #fff;
}
#wealth-creation .calculator-area-input button:hover{
    background-color: #FDF5E1;
    border: 1px solid #B02A30;
    color: #B02A30;
}
#wealth-creation .calculator-area-input input[type=radio]:checked:after{
    background-color: red;
}
#wealth-creation  .question-box{margin:50px 200px;}
#wealth-creation  .question-box h5{background-color: #F5F5F5; padding: 30px 10px;}

#wealth-creation {}

#wealth-creation {}

#wealth-creation-annual-income,
#wealth-creation-financial-income,
#wealth-creation-current-age,
#wealth-creation-age-goal,
#wealth-creation-upfront-investment,
#wealth-creation-risk{display: none;}

.modal{width: 100vw;height: 100vh;}